body {
  text-align: center;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: cursive;
  color: rgba(65, 60, 49, 255);
}

body button {
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-intro {
  display: block;
}

#game-intro .logo {
  padding-top: 100px;
}

#start-button {
  background-color: rgba(65, 60, 49, 255);
  margin-top: 150px
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/bg.png);
  background-size: cover;
  animation: slide 5s linear infinite;
}

#game-end {
  display: none;
}

#game-end .logo {
  padding-top: 100px;
}

#game-end h1 {
  font-size: 4em;
}

#restart-button {
  margin-top: 50px;
  background-color: rgba(65, 60, 49, 255);
}

#scoreDisplay {
  font-size: 30px;
  margin: auto;
  width: 10%;
  border-radius: 5%;
  border-style: dashed;
  text-transform: uppercase;
  font-family: cursive;
  color: rgba(65, 60, 49, 255);
  background-color: rgb(165, 204, 62);
}